@extends('user.layouts.app')

@section('title')
    @lang('title.my_product')
@stop

@section('css')
    <style>
        .text {
            color: #662D91;
        }

    </style>
@endsection

@section('content')
    <!-- CONTENT WRAPPER -->
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-sm-6 my-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registered Product</h5>
                        <p class="card-text">AVITA LIBER 14" 1920x1080 Full HD IPS, Pentium® N4200, 4GB DDR3 RAM, 256GB
                            SSD, WIFI+BT, Non Backlit Keyboard, Win 10 Home, Office 365 one-month Trial Bundled, Space Grey
                        </p>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <h5 class="text">Serial Number</h5>
                                <h5 class="text">Purchase From</h5>
                                <h5 class="text">Purchase Date</h5>
                                <h5 class="text">Warranty Expiry</h5>
                            </div>
                            <div class="col-md-6">
                                <h6 class='mt-2'>59NA141896</h6>
                                <h6 class='mt-2'>Amazon</h6>
                                <h6 class='mt-2'>2021-11-20</h6>
                                <h6 class='mt-2'>2026-11-20</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 my-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registered Product</h5>
                        <p class="card-text">AVITA LIBER 14" 1920x1080 Full HD IPS, Pentium® N4200, 4GB DDR3 RAM, 256GB
                            SSD, WIFI+BT, Non Backlit Keyboard, Win 10 Home, Office 365 one-month Trial Bundled, Space Grey
                        </p>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <h5 class="text">Serial Number</h5>
                                <h5 class="text">Purchase From</h5>
                                <h5 class="text">Purchase Date</h5>
                                <h5 class="text">Warranty Expiry</h5>
                            </div>
                            <div class="col-md-6">
                                <h6 class='mt-2'>59NA141896</h6>
                                <h6 class='mt-2'>Amazon</h6>
                                <h6 class='mt-2'>2021-11-20</h6>
                                <h6 class='mt-2'>2026-11-20</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 my-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registered Product</h5>
                        <p class="card-text">AVITA LIBER 14" 1920x1080 Full HD IPS, Pentium® N4200, 4GB DDR3 RAM, 256GB
                            SSD, WIFI+BT, Non Backlit Keyboard, Win 10 Home, Office 365 one-month Trial Bundled, Space Grey
                        </p>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <h5 class="text">Serial Number</h5>
                                <h5 class="text">Purchase From</h5>
                                <h5 class="text">Purchase Date</h5>
                                <h5 class="text">Warranty Expiry</h5>
                            </div>
                            <div class="col-md-6">
                                <h6 class='mt-2'>59NA141896</h6>
                                <h6 class='mt-2'>Amazon</h6>
                                <h6 class='mt-2'>2021-11-20</h6>
                                <h6 class='mt-2'>2026-11-20</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 my-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registered Product</h5>
                        <p class="card-text">AVITA LIBER 14" 1920x1080 Full HD IPS, Pentium® N4200, 4GB DDR3 RAM, 256GB
                            SSD, WIFI+BT, Non Backlit Keyboard, Win 10 Home, Office 365 one-month Trial Bundled, Space Grey
                        </p>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <h5 class="text">Serial Number</h5>
                                <h5 class="text">Purchase From</h5>
                                <h5 class="text">Purchase Date</h5>
                                <h5 class="text">Warranty Expiry</h5>
                            </div>
                            <div class="col-md-6">
                                <h6 class='mt-2'>59NA141896</h6>
                                <h6 class='mt-2'>Amazon</h6>
                                <h6 class='mt-2'>2021-11-20</h6>
                                <h6 class='mt-2'>2026-11-20</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content Wrapper -->
@endsection
